.ProfileContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2.5rem 4rem;
    color: white;
    width: 100%;
}


.profileBox{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    padding: 2rem 0rem;
}

.ProfileDp{
  
    
}

.ProfileDp img{
    border-radius: 50%;
    height: 50%;
    width: 15rem;
}

.userDetails{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    
    margin: 1rem;
}
.userName h2{
    font-size: 3rem;
}

.userName p{
    color:rgba(255, 255, 255, 0.5);
    font-size: 2rem;
}

.openSpotify{
    width: fit-content;
    color: white;
    display: flex;
    font-size: 1rem;
    align-items: center;
    padding: 0.2rem 1.4rem;
    border-radius: 24px;
    background-color:rgba(30, 215, 96, 1) ;
}


.openSpotify span{
    padding: .2rem;
    font-size: 1.5rem;
    margin: .1rem;
}